body {
    background-color: #1a1a1a;
}

h1 {
    margin: auto;
    text-align: center;
    color: aliceblue;
}

#btn {
    margin-top: 10%;
    margin-left: 45%;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    font-size: large;
    font-family: cursive;
    background-color: whitesmoke;
}

#btn:hover {
    cursor: pointer;
    background-color: cadetblue;
    color: white;
}

#clock {
    height: 190px;
    width: 800px;
    background-color: antiquewhite;
    color: #0066ff;
    margin: auto;
    border-radius: 10px;
    display: flex;
    margin-top: 100px;
    font-size: 120px;
    padding: 34px 10px 12px 67px;
    font-family: Lucida Handwriting;
    text-shadow: 0 0 5px black, 0 0 10px black,
        0 0 20px black, 0 0 40px black;
}